@import url('pure.css');
@import url('lightbox.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    min-height: 100%;
    position: relative;
}
h2{
    text-align: center;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 20px;
}
