@import url('./media511.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    min-height: 100%;
    position: relative;
    font-family: 'Girassol', cursive;
    letter-spacing: 5px;
    background-color: rgb(127, 229, 255);
}
header{
    border-bottom: 4px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(127, 229, 255);
    background-color: rgb(2, 90, 112);
}
.header__description{
    font-size: 1.2em;
    padding-right: 10px;
    width: 40%;
    text-align: center;
}
.header__logo{
    font-size: 48px;
    padding: 20px;
    font-weight: 600;
    padding-left: 20px;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(127, 229, 255);
    padding-top: 30px;
    padding-bottom: 60px;
}
.gallery__div{
    width:250px;
    background-color: rgba(4, 112, 139, 0.6);
    margin: 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.gallery__image{
    width: 200px;
    margin: 5px;
    border: 5px solid #ffffff;
    transition: all 0.75s;
}
.gallery__image:hover{
    transform: scale(1.2);
    border-radius: 10px;
}
.next-image,
.prev-image{
    font-size: 48px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: transparent;
    color: rgba(95, 94, 94, 0.5);
    transition: all 2s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.next-image:hover,
.prev-image:hover{
    color: #ffffff;
    background-color: #000000;
}
.next-image{
    right: 10px;
}
.prev-image{
    left: 0;
}
.gallery-zoom__div{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: transform ease-in-out 0.75s;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.isVisible{
    transform: scale(1, 1);
}

.noVisible{
    transform: scale(1, 0);
}
.orginTop{
    transform-origin: top
}
.orginBottom{
    transform-origin: bottom;
}
.gallery-zoom__image-div{
    background-color: black;
    display: flex;
    justify-content: center;
    padding:4.5em;
    position: relative;
    width: 70%;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
.gallery-zoom__image{
    width: 100%;
}
.gallery-zoom__miniature-wrapper{
    overflow:scroll;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:0;
}

.gallery-zoom__miniature{
    width: 200px;
}
.gallery-zoom--close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.75s;
    z-index: 1;
}
.gallery-zoom--close:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
}
.gallery-zoom--counter{
    color: white;
    position: absolute;
    bottom: 30px;
    font-size: 2em;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5em;
    border-top: 4px solid #000000;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: rgb(127, 229, 255);
    background-color: rgb(2, 90, 112);
}