@media (max-height: 610px){
    .gallery-zoom__image-div{
        padding: 0 !important;
    }
    .gallery-zoom__miniature-wrapper{
        display: none !important;
    }
    .gallery-zoom__div{
        height: 100% !important;
    }
    .gallery-zoom__image{
        width: 70% !important;
    }
}

@media (max-width: 610px){
    .gallery-zoom__image-div{
        padding: 0 !important;
    }
    .gallery-zoom__miniature-wrapper{
        display: none !important;
    }
    .gallery-zoom__div{
        height: 100% !important;
    }
}