header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    border-bottom: 4px solid #000000;
    border-radius: 10px;
    width: 100%;
}
.header__logo{
    font-size: 48px;
    padding: 20px;
    font-weight: 600;
}
.header__nav a{
    text-decoration: none;
    display: block;
    color:#000000;
    font-size: 24px;
    transition: color 0.75s;    
}
.header__nav a:hover{
    color: #800080;
}
.header__nav ul{
    margin-block-end: 0;
    margin-block-start: 0;
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}
.header__nav li{
    padding: 10px;
    border: 2px solid black;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #eeeeee;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.gallery__div{
    width:250px;
    background-color: #5f5f5f;
    margin: 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.gallery__image{
    width: 200px;
    margin: 5px;
    border: 5px solid #ffffff;
    transition: all 0.75s;
}
.gallery__image:hover{
    transform: scale(1.15);
    border:transparent;
    border-radius: 10px;
}
.next-image,
.prev-image{
    font-size: 48px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: transparent;
    color: white;
}
.next-image{
    right: 40px;
}
.prev-image{
    left: 40px;
}
.gallery-zoom__div{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    transform: scale(1, 0);
    transform-origin: (top);
    transition: all  0.75s;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
/* .gallery-zoom__div:target{
    transform: scale(1, 1);
    transform-origin: bottom;
    visibility: visible;
} */
.isVisible{
    visibility: visible;
    transform: scale(1, 1);
    transform-origin: bottom;
}
.noVisible{
    visibility: hidden;
}
.gallery-zoom__image-div{
    background-color: black;
    display: flex;
    justify-content: center;
    padding:4.5em;
    position: relative;
    width: 70%;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
.gallery-zoom__image{
    width: 100%;
}

.gallery-zoom--close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.75s;
    z-index: 1;
}
.gallery-zoom--close:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
}
.gallery-zoom--counter{
    color: white;
    position: absolute;
    bottom: 30px;
    font-size: 2em;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5em;
    border-top: 4px solid #000000;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

